@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:#f5f5f5;

}

.signup-container{

width:430px;

background:#fff;

padding:45px;

border-radius:18px;

box-shadow:0 15px 40px rgba(0,0,0,.12);

text-align:center;

}

.signup-logo{

width:70px;
margin-bottom:15px;

}

.signup-container h1{

font-size:36px;
margin-bottom:5px;

}

.subtitle{

color:#777;
margin-bottom:30px;

}

.name-row{

display:flex;
gap:15px;

}

.name-row input{

width:50%;

}

.signup-container input{

width:100%;

padding:14px;

margin-top:18px;

border:1px solid #ddd;

border-radius:10px;

font-size:15px;

transition:.3s;

}

.signup-container input:focus{

outline:none;

border-color:#000;

}

#passwordMessage{

display:block;

margin-top:10px;

text-align:left;

font-size:13px;

}

.otp-btn{

width:100%;

padding:14px;

margin-top:20px;

background:#444;

color:white;

border:none;

border-radius:10px;

font-size:16px;

cursor:pointer;

transition:.3s;

}

.signup-btn{

width:100%;

padding:15px;

margin-top:18px;

background:#111;

color:white;

border:none;

border-radius:10px;

font-size:17px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.signup-btn:hover{

background:#000;

}

.otp-btn:hover{

background:#222;

}

.login-text{

margin-top:25px;

font-size:15px;

}

.login-text a{

text-decoration:none;

color:#ff4d6d;

font-weight:600;

}
.name-row{
    display:flex;
    gap:15px;
}

.name-row input{
    width:50%;
}